<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
	<link rel="stylesheet" type="text/css" href="style.css">
    
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <form>
                <div class="cover">
                <h1>Signup</h1>
				<p class="para">Let's create an account</p>
           		
           		   <input type="text" placeholder="username"/>
           		
           		
           		   <input type="email" placeholder="email"/>
            	
                
                    <input type="Password" placeholder="Password"/>
              
            	
            	<input type="submit" class="btn" value="Sign up">
                </div>
                <div className="cov" >
                    <img src="../asserts/backg.png" width="50%" height="100%">
                </div>
            </form>
    <script type="text/javascript" src="Register.js"></script>
</body>
</html>
